.mainProjectTitle{
    font-size: 90px;
    color: #52D0C9;
    margin-bottom: 20px;
}

.project h1{
    font-size: 90px;
    margin-bottom: 10px;
}

.project h3{
    font-size: 30px;
}

.project p{
}